<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>CRUD</title>
</head>
<body class="bg-dark text-white">
    <header class="bg-warning p-2 text-dark text-center">
            <h1>Sistema</h1>
    </header>
    <main class="container">

        <%doc.forEach((i)=>{%>
        <form>
            <div id="<%i.id%>" class="card text-bg-dark">
                <p><%=i.name%></p>
                <p><%=i.phone%></p>
                <p><%=i.email%></p>
                <div>
                    <a href="/edit/<%=i.id%>" class="btn btn-secondary">editar</a>
                    <button onclick="deleteUser('<%=i.id%>')" class="btn btn-danger">excluir</button>
                </div>
            </div>
        </form>
        <%})%>
        

    </main>

    <script>
        const deleteUser = (id) => {
            fetch("/" + id, {method: "DELETE"}).then(res=>{
                res.text().then(userId=>{
                    document.getElementById(userId).remove();
                })
            })
        }
    </script>
</body>
</html>